/* Sample CSS page */

*{
  background-color: rgba(193, 66, 66, 0.9);
}

*, *::before, *::after { box-sizing: border-box; }

   /* Used for Debugging purposes */
  * {
     -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
     transition-duration: 0.25s;
   }
   *:hover { outline: 1px blue solid; }